.display-social-flex {
  display: flex;
}

.social-icon-details {
  margin-right: 15px;
}

.address-details {
  font-size: 16px;
  font-weight: 600;
  color: #ffff;
  text-align: center;
  margin-top: 10px;
}
