.logo-image {
  margin-right: 10px;
  margin-left: 10px;
  height: 180px;
  width: 180px;
}

@media screen and (max-width: 568px) {
  .logo-image {
    margin-right: 10px;
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-container {
  min-width: 200px;
  margin: 10px;
}

/* You can change the CSS color to style the Next and 
Previous Arrow buttons according to your project */

.slick-prev:before,
.slick-next:before {
  color: #ffff;
}

.details {
  padding: 40px;
}

.slick-item {
  display: flex;
  justify-content: center;
}
